:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* start box */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

/* end box */

/* start width and hieght */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* end width and hieght */

/* start padding + margin + gap*/
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}

.gap-20 {
  gap: 20px;
}

/* end padding + margin + gap */

/* start coloring */
.bg-white {
  background-color: white;
}
.bg-blue {
  background: var(--blue-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-green {
  background-color: var(--green-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-alt-color);
}
.c-white {
  color: white;
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
/* end coloring */

/* start position */
.p-relative {
  position: relative;
}
/* end position */

/* start font */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* end font */
/* start border */

.b-none {
  border: none;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* end border */

/* start components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-shape {
  border-radius: 6px;
  padding: 4px 10px;
}
/* end components */

.cur-pointer {
  cursor: pointer;
}
