:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* start box */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* end box */

/* start width and hieght */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* end width and hieght */

/* start padding + margin + gap*/
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

.gap-20 {
  gap: 20px;
}

/* end padding + margin + gap */

/* start coloring */
.bg-white {
  background-color: white;
}
.bg-blue {
  background: var(--blue-color);
}
.bg-eee {
  background-color: #eee;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
/* end coloring */

/* start position */
.p-relative {
  position: relative;
}
/* end position */

/* start font */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.capitalize {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* end font */
/* start border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* end border */

/* start components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* end components */

.cur-pointer {
  cursor: pointer;
}
