:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #21c45d;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
}

:focus {
  outline: none;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

p,
h2,
h3 {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-alt-color);
}

::placeholder {
  text-transform: capitalize;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

@media (min-width: 767px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    border: 4px solid white;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: -3px;
  }

  .sidebar ul li a span {
    display: none;
  }
  .sidebar ul li a {
    justify-content: center;
  }
}

/* end sidebar */

/* start content head */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}

.head .search input[type="search"] {
  border: 1px solid #ccc;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}

@media (min-width: 576px) {
  .head .search input[type="search"]:focus {
    width: 200px;
  }
}
.head .search input[type="search"]:focus::placeholder {
  opacity: 0;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 2px;
}

.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* end content head */
/* start welcome */

.welcome {
  overflow: hidden;
}

.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}

.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}

.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    margin-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* end welcome */

/* Start quick Draft widget */
.quick-draft textarea {
  resize: none;
  min-height: 100px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}

.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End quick Draft widget */

/* start target  */
.targets .targets-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  font-size: 12px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 6px;
  border-style: solid;

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(33 196 93 / 20%);
}
/* end target  */
/* start tickets */
.tickets .box {
  border: 1px solid #eee;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* end tickets */
/* start latest news */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.latest-news .info {
  flex-grow: 1;
}
.latest-news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .latest-news .info h3 {
    margin-top: 5px;
  }
  .latest-news .label {
    width: fit-content;
    margin: 10px auto;
  }
}
/* end latest news */
/* start tasks  */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info {
  flex-grow: 1;
}
.tasks .done {
  opacity: 0.3;
}
.done h3,
.done p {
  text-decoration: line-through;
}
.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red-color);
}

/*  end tasks  */
/* start latest uploads */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* end latest uploads */
/* start last project */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  /* width: 20px; */
  min-width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-alt-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
/* end last project */
/* start reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}

.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}

/* end reminders */
/* start latest post */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  line-height: 1.8;
  min-height: 140px;
}
/* end latest post */
/* start social media  */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}

.social-media .twitter {
  background-color: rgba(28, 160, 242, 0.2);
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .youtube {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}

.social-media .facebook {
  background-color: rgb(24, 119, 242, 0.2);
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .linkedin {
  background-color: rgb(10, 102, 194, 0.2);
  color: #0a66c2;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0a66c2;
}
/* end social media  */
/* start projects table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}

.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* end projects table*/
/* start settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.settings-page .close-message {
  border: 1px solid #ccc;
  min-height: 150px;
  resize: none;
}

.settings-page .sec-box {
  padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .sec-box .button {
  transition: 0.3s;
}
.settings-page .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}

.settings-page .email {
  display: inline-flex;
  width: calc(100% - 90px);
}

.settings-page .socail-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.settings-page .socail-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;

  padding-left: 15px;
  border-radius: 0 6px 6px 0;
}
.settings-page .socail-boxes > div:focus-within i {
  color: black;
}
.widget-control .control input[type="checkbox"] {
  appearance: none;
  -ms-progress-appearance: none;
}
.widget-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

.widget-control .control label::before,
.widget-control .control label::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 4px;
  top: 50%;
  transition: 0.3s;
}
.widget-control .control label::before {
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widget-control .control label:hover:before {
  border-color: var(--blue-alt-color);
}
.widget-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  transform: translateY(-50%) scale(0) rotate(360deg);
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-control .control input[type="checkbox"]:checked + label::after {
  transform: translateY(-50%) scale(1);
}

.backup-control input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
}
.backup-control .date label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 1.6px solid var(--grey-color);
  border-radius: 50%;
}

.backup-control .date label::after {
  content: "";
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  background-color: var(--blue-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s;
}

.backup-control .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}

.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
}
.backup-control .servers .server label {
  cursor: pointer;
}

.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  transition: 0.3s;
  color: var(--blue-color);
}

.toggle-checkbox {
  appearance: none;
  -moz-appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "ÔÄç";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}

.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: grey;
}
/* end settings */

/* start animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
/* end animation */
